<html>
<body style="background-color:#b3cde0">
<style>
  body {
    text-align: center;

}
form {
    display: inline-block;
}
</style>
<h2 style="color:#3c2f2f ">Company Details Scrapper</h2>

<form action="/company" method="post">
  <label for="fname"><h3 style="color:#ee4035 ">Enter company name with domain (.in/.com):</h3></label><br>
  <input type="text" id="name" name="cname" style="background-color:#f4f4f8;height: 30px;width:200px;" required><br><br><br>
    <button type="submit" style="height:40px;width:100px;">Submit</button>

</form>


</body>
</html>